<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/about_style.css">
</head>
<body>
    <main>
        
        <section class="about-us">
            <div class="blur-box">
                <h2>About Us</h2>
                <p>Welcome to <span id="Skill_bridge">SkillBridge</span>, where we provide a platform for people to post their problems and for others, especially students, to offer software-based solutions. Our mission is to bridge the gap between challenges and expertise, fostering collaboration and innovation.</p>
                <p>Our team is dedicated to creating a seamless experience for both problem posters and solution providers, ensuring that every issue is addressed with the highest standard of creativity and technical skill. We believe in the power of collective intelligence and the importance of finding the right solutions for every challenge.</p>
                <p>Join us on our journey to make the world more connected and efficient through collaborative problem-solving. Together, we can achieve great things.</p>
            </div>
        </section>
        
    </main>
    <footer>
        <p>&copy; 2023 SkillBridge. All rights reserved.</p>
    </footer>
    
</body>
</html>