<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillBridge</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="logo">
                <img src="/static/images/Skill_bridge_logo.png" alt="SkillBridge Logo">
            </div>
            <div class="actions">
                <button class="signup">Sign Up</button>
                <button class="go-to-app">Go to app</button>
            </div>
        </header>
        <main>
            <div class="angle-brackets">&lt;&gt;</div>
            <div class="main-content">
                <h2>Connecting Needs With <span class="expertise-gradient-text">Expertise</span></h2>
                <p>Bridging the gap between clients and skilled freelancers to ensure every project finds the perfect match.</p>
                <div class="buttons">
                    <a href="/login"><button class="login">Login</button></a>
                    <button class="explore">Explore</button>
                </div>
            </div>
        </main>
    </div>
</body>
</html>